@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
  height: 75px;
  background: transparent;
  position: fixed !important;
  position: -webkit-sticky;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  background-color: rgba(43, 43, 43, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(70px);
  z-index: 2;
  padding: 0 2rem !important;
}

.navbar .teks {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.teks a {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
}

.teks a:hover {
  color: rgb(187, 37, 37);
  font-weight: 600;
}

#light .teks a {
  color: #000;
}

#light .teks a:hover {
  color: rgb(252, 81, 133);
  font-weight: 600;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

.custom-shape-divider-bottom-1694916749 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1694916749 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1694916749 .shape-fill {
  fill: rgb(166, 227, 233);
}

#dark .shape-fill {
  fill: rgb(57, 62, 70);
}

.headerContainer .pp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  width: 100%;
  margin: 155px 0 320px 0;
}

.headerContainer .pp .strong {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 300px;
  position: absolute;
  color: rgb(187, 37, 37) !important;
  z-index: -1;
  top: 50px;
}

.headerContainer .pp .strong1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 300px;
  position: absolute;
  color: rgb(255, 255, 255) !important;
  z-index: -1;
  top: 100px;
}

.headerContainer .pp .strong2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 300px;
  position: absolute;
  color: rgb(187, 37, 37) !important;
  z-index: -1;
  top: 200px;
}

.headerContainer .pp .strong3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 300px;
  position: absolute;
  color: rgb(255, 255, 255) !important;
  z-index: -1;
  top: 300px;
}

.headerContainer .pp h1 {
  width: max-content;
  color: #111;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-stretch: condensed;
}

.headerContainer .pp p {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Quicksand", sans-serif;
}

#dark p {
  color: white;
}

#dark h1 {
  color: white;
}

.headerContainer .pp p span {
  color: rgb(187, 37, 37);
  font-weight: 700;
}

#light span {
  color: rgb(252, 81, 133);
}

.headerContainer .pp .switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.headerContainer .pp .switch label {
  color: black;
}

#dark label {
  color: white;
}

.headerContainer .scrolls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1rem;
  padding: 0 0 100px 44px;
}

.headerContainer .scrolls p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Quicksand", sans-serif;
}

.headerContainer .scrolls .line {
  width: 50px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(187, 37, 37);
}

#light .line {
  background-color: rgb(252, 81, 133);
}

.test {
  position: relative;
}

#light .headerContainer {
  background-color: rgb(203, 241, 245);
}

#dark .headerContainer {
  background-color: rgb(34, 40, 49);
}






/* About */
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  height: auto;
  background-color: rgb(166, 227, 233);
  padding: 72px 0 280px 0;
  font-family: "Quicksand", sans-serif;
}

#dark .aboutContainer {
  background-color: rgb(57, 62, 70);
}

.aboutContainer .number {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.aboutContainer .number h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutContainer .number .line {
  width: 35px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(187, 37, 37);
}

.aboutContainer .adjust {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.aboutContainer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.aboutContainer .left .imgBorder {
  max-width: 353px;
  width: 100%;
  height: 444px;
  border: 10px solid rgb(252, 81, 133);
  position: relative;
}

#dark .imgBorder {
  border: 8px solid rgb(150, 29, 29);
}

.aboutContainer .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin-right: 2rem;
}

.aboutContainer .right .teks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 535px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.aboutContainer .right .teks .discover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.aboutContainer .right .teks .discover p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutContainer .right .teks .discover .line {
  width: 100px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(187, 37, 37);
}

.aboutContainer .right .teks .about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  font-family: "Quicksand", sans-serif;
}

.aboutContainer .right .teks .about h1 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  text-align: start;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#light .aboutContainer .right h1 {
  color: black;
}

.aboutContainer .right .teks .about p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutContainer .right .teks .about .circle1 {
  position: absolute;
  max-width: 270px;
  width: 100%;
  height: 260px;
  border-radius: 270px;
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
  background: linear-gradient(to right, #f80759, #bc4e9c);
  top: 320px;
  left: 400px;
}

.aboutContainer .right .teks .about .circle2 {
  position: absolute;
  max-width: 190px;
  width: 100%;
  height: 180px;
  border-radius: 270px;
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  background: linear-gradient(to right, #ff5e62, #ff9966);
  top: 220px;
  left: -100px;
  z-index: -2;
}

.aboutContainer .right .boxProfile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 605px;
  margin: 4rem 0 0 0;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  background-color: rgba(43, 43, 43, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  font-family: "Quicksand", sans-serif;
}

.aboutContainer .right .boxProfile .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}

.aboutContainer .right .boxProfile .left p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutContainer .right .boxProfile .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}

.aboutContainer .right .boxProfile .right p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}








/* Skills */
.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: auto;
  background-color: rgb(124, 214, 222);
  padding: 72px 0 280px 0;
  font-family: "Quicksand", sans-serif;
}

#dark .skillContainer {
  background-color: rgb(34, 40, 49);
}

.skillContainer .number {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.skillContainer .number h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skillContainer .number .line {
  width: 35px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(187, 37, 37);
}

.skillContainer .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillContainer .title h1 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 14.4px;
}

.skillContainer .title h1 span {
  color:  rgb(187, 37, 37);
  font-weight: 500;
}

#light .title h1 {
  color: black;
}

#light .title h1 span {
  color: rgb(252, 81, 133);
  font-weight: 500;
}

.skillContainer .skills {
  display: flex;
  width: 100%;
  height: 400px;
  z-index: 1;
}

.skillContainer .skills .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillContainer .skills .slide .img {
  transition: all ease-in-out 0.2s;
}

.skillContainer .skills .slide .img:hover {
  scale: 1.2;
}








/* Projects */
.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: auto;
  background-color: rgb(203, 241, 245);
  padding: 72px 0 80px 0;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

#dark .projectContainer {
  background-color: rgb(57, 62, 70);
}

.projectContainer .borders {
  position: absolute;
  top: -80px;
}

#dark .projectContainer .borders {
  display: none;
}

.projectContainer .number .bookmark {
  width: 0;
	height: 0;
	border-top: 200px solid rgb(99, 19, 19);
	border-right: 80px solid rgb(125, 26, 26);
	border-bottom: 80px solid transparent;
	border-left: 80px solid rgb(34, 40, 49);
  position: absolute;
  top: -73px;
  left: 40px;
  transition: all ease-in-out 0.2s;
}

.projectContainer .number .bookmark:hover {
	border-top: 220px solid rgb(99, 19, 19);
}

#light .projectContainer .number .bookmark {
  border-top: 200px solid rgb(254, 135, 171);
	border-right: 80px solid rgb(252, 81, 133);
	border-bottom: 80px solid transparent;
	border-left: 80px solid rgb(255, 192, 211);
}

#light .projectContainer .number .bookmark:hover {
  border-top: 220px solid rgb(254, 135, 171);
}

.projectContainer .number {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.projectContainer .number .adjust {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.projectContainer .number h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projectContainer .number .line {
  width: 35px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(187, 37, 37);
}

.projectContainer .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer .title h1 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 14.4px;
}

.projectContainer .title h1 span {
  color: rgb(187, 37, 37);
  font-weight: 500;
}

#light .title h1 {
  color: black;
}

.projectContainer .projects {
  width: 100%;
  height: 700px;
  z-index: 1;
}

.projectContainer .projects .slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  padding-top: 4rem;
  transition: all ease-in-out 0.3s;
}

.projectContainer .projects .slide .card {
  max-width: 520px;
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projectContainer .projects .slide .card .img {
  max-width: 520px;
  width: 100%;
  height: 375px;
  background-image: url('/article.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2; 
}

.projectContainer .projects .slide .card .img2 {
  max-width: 520px;
  width: 100%;
  height: 375px;
  background-image: url('/plantsrepot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2; 
}

.projectContainer .projects .slide .card .box {
  width: 100%;
  max-width: 320px;
  height: 375px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 190px;
  z-index: 1;
  border-radius: 0 20px 20px 0;
  background-color: rgb(34, 40, 49);
  transition: all ease-in-out 0.5s;
}

#light .box {
  background-color: rgb(166, 227, 233);
}

.projectContainer .projects .slide .card:hover > .box {
  left: 520px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projectContainer .projects .slide .card .bookmark {
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
  rotate: -90deg;
  position: absolute;
  left: 500px;
  transition: all ease-in-out 0.5s;
}

.projectContainer .projects .slide .card .bookmark .labels {
  width: 0;
	height: 0;
	border-top: 80px solid rgb(99, 19, 19);
	border-right: 40px solid rgb(125, 26, 26);
	border-bottom: 40px solid transparent;
	border-left: 40px solid rgb(34, 40, 49);
}

#light .labels {
  border-top: 80px solid rgb(254, 135, 171);
	border-right: 40px solid rgb(252, 81, 133);
	border-bottom: 40px solid transparent;
	border-left: 40px solid rgb(255, 192, 211);
}

.projectContainer .projects .slide .card:hover > .bookmark {
  left: 300px;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 40, 49);
  padding: 2rem;
}

#light .copyright {
  color: white;
}